body {
    font-family: "Lucida Console", Monaco, monospace;
    font-weight: 400;
    color: #000;
    font-size: 16px;
    line-height: 20px;
    width: 100%;
}

#calc-wrap {
    padding: 10px;
    width: 100%;
    text-align: center;
}

#calc {
    width: 322px;
    display: inline-block;
    background: #eaeaea;
    border: 1px solid #1883d7;
    padding: 0 0 5px;
    box-shadow: #5d5d5d;
}

.calcTitle {
    padding: 10px;
    text-align: left;
    font-size: 14px;
}

#historyVal, #inputVal {
    width: 96%;
    border: 0;
    outline: none;
    -moz-appearance: none;
    resize: none;
    background: #eaeaea;
    text-align: right;
    overflow: hidden;
}

#historyVal {
    padding: 0 2%;
    color: #5d5d5d;
    font-size: 24px;
}

#inputVal {
    padding: 0 2% 2%;
    font-size: 45px;
    font-weight: bold;
}

.button {
    width: 76px;
    height: 55px;
    background: #f4f4f4;
    font-size: 20px;
    display: inline-block;
    text-align: center;
    line-height: 57px;
    user-select: none;
    border: 1px solid #eaeaea;
}

.button:hover {
    background: #dbdbdb;
    border: 1px solid #c1c1c1;
}

.memory {
    height: 35px;
    font-weight: bold;
    background: #eaeaea;
    font-size: 14px;
    line-height: 35px;
}

.empty {
    color: #bcbcbc;
}

.number {
    font-weight: bold;
    background: #fafbfb;
    font-size: 24px;
    line-height: 55px;
}






